body
{
    background-image: url("loginkep.jpg");
}
div
{
    background-color:gray;
    color:white;
    margin:auto;
    width: 300px;
    font-size: 20px;
    font-style:italic;
    margin-top: 300px;
    padding: 10px;
}